.main-container{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 600px;
    background-color:rgb(32, 100, 100);


}
.flex-container{
    display: flex;
    border: 4px solid lightgrey;
    border-radius: 4%;
    box-shadow: 10px 10px 10px rgb(30, 29, 29);
    flex-flow: column wrap;
    justify-content:center;
    background-color: white;
    text-align: center;
    height: 400px;
    width: 320px;
    align-items: center;
}
img{
    border-radius: 50%;
    height: 150px;
    width: 130px;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif ;
}